<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{caption}}</title>
    <link rel="stylesheet" href=../static/css/style.css>"
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/shablon">Блог</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/shablon2">Контакты</a>
  </li>
</ul>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Интересно почитать</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
                <div class="card" style="width: 25rem;">
                    <img src="/static/image/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Игрушка ёлочная "Шар-космос"</h5>
                        <p class="card-text">Новогодний шар «Космос» – это не просто украшение для вашей елки, а настоящее окно в бескрайние просторы Вселенной! Этот шар, выполненный в глубоких синих и фиолетовых тонах, напоминает ночное небо, усеянное звездами. На его поверхности можно увидеть яркие созвездия, загадочные туманности и даже планеты Солнечной системы.

Поверхность шара покрыта блестками, которые переливаются при свете гирлянд, создавая иллюзию далеких галактик и метеоров, пролетающих мимо. Внутри шара находится миниатюрная модель Земли, парящая среди космических тел, что добавляет игрушке объема и реалистичности.

Этот шар станет отличным подарком как для детей, так и для взрослых, увлекающихся астрономией и космосом. Он не только украсит вашу новогоднюю елку, но и напомнит о величии и таинственности Вселенной, которая окружает нас..</p>
                        <a href="#" class="btn btn-primary">{{link}}</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
                <div class="card" style="width: 25rem;">
                    <img src="/static/image/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Картина "Новый год Дома"</h5>
                        <p class="card-text">Представляем вашему вниманию живописную картину, наполненную теплом и уютом зимнего вечера. В центре композиции возвышается нарядная ель, украшенная разноцветными огоньками и сверкающими украшениями. Её ветви покрыты пушистым снегом, который мягко мерцает под лунным светом.

На заднем плане виднеется деревянный дом с освещенными окнами, из которых струится мягкий свет, создавая ощущение домашнего очага. Дымок, поднимающийся из трубы, говорит о том, что внутри царит тепло и уют. Снежные сугробы вокруг дома придают картине особую атмосферу зимней сказки.

Эта картина идеально подойдет для тех, кто ценит спокойствие и умиротворение зимних вечеров. Она станет прекрасным дополнением интерьера вашего дома, добавив ему нотку волшебства и праздника. Приятного просмотра и наслаждения.


</p>
                        <a href="#" class="btn btn-primary">{{link}}</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
                <div class="card" style="width: 25rem;">
                    <img src="/static/image/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Игрушка ёлочная "Шар-снежинки"</h5>
                        <p class="card-text">Волшебный шар "Снежинки" – это изысканное украшение для вашей новогодней елки, которое добавит празднику сказочной атмосферы. Шар выполнен в классическом белом цвете, символизирующем чистоту и свежесть зимы. Его поверхность украшена изящными снежинками, каждая из которых уникальна по форме и размеру, словно настоящие творения природы.

Переливающиеся на свету грани создают эффект сияния, напоминая о блеске настоящего снега. Внутри шара спрятаны маленькие серебристые блестки, которые, двигаясь, добавляют игрушке динамики и волшебства. Этот шар станет настоящим украшением любой елки, привнося в ваш дом дух зимнего чуда и радости.

Идеально подходит для создания праздничной атмосферы и подарит вам незабываемые моменты в кругу семьи и друзей. Пусть этот шар принесет в ваш дом частичку зимней магии и создаст настроение настоящего праздника!</p>
                        <a href="#" class="btn btn-primary">{{link}}<a>
                     </div>
                </div>
            </div>

<hr>
<hr>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

 </body>
</html>